body
{
    background-color: white;
}

#profilePic
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#login_form
{
        height:  200px;
        width: 400px;
        background: black;

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
}